textarea{
    width: 100%;
    height: 30%;
}

input{
    width: 100%;
}

#loading {
    position: block;
    width: 100%;
    height: 100%;
}

#loading img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#graph{
    width: 100%;
    left: 10px;
    right: 10px;
    top: 150px;
    bottom: 10px;
}
